<li data-id="{{ id }}" class="item overview-projects--item overview-project-builds--item">
	<a href="/projects/{{ id }}" class="cf">
		<div class="left overview-projects--type up bold">{{ repo_type }}</div>
		<div class="left overview-projects--name semibold">{{ name }}</div>
		<div class="left bold">/</div>
		<div class="left overview-projects-branch bold">{{ repo_branch }}</div>
	</a>
</li>